.win {
  text-transform: uppercase;
  color: $color-primary;
  font-weight: bold;
  font-size: 3rem;
  margin: 0 0 1rem 0;
}

@media screen and (max-width: 767px) {
  .win {
    font-size: 1.75rem;
  }
}
