body {
  background: #0c6980;
  margin: 1rem;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  max-width: 720px;
  margin: auto;
}

* {
  color: #c4dbe0;
  box-sizing: border-box;
}
